@use '../abstract';

.hero{
@include abstract.grid;

&__image {
    grid-column: 1 / -1;
    grid-row: 1;
    height: 12.5rem;
    background-image: url(../../images/hero-bg-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;

    @include abstract.breakpoint-up(medium){
        background-image: url(../../images/hero-bg-tablet.png);
        background-position: right;
        background-size: contain;
        height: 100%;
        z-index: -1;
    }

    @include abstract.breakpoint-up(large){
        background-image: url(../../images/hero-bg-desktop.png);
    }
}

&__text{
    grid-row: 2;
    grid-column: 2 / 10;
    z-index: 10;
    padding-top: 2.5rem;
    padding-bottom: 6rem;

    @include abstract.breakpoint-up(medium){
        grid-row: 1;
        grid-column: 2 / 7;
        padding-top: 4.8125rem;
        padding-bottom: 150px;
    }

    @include abstract.breakpoint-up(large) {
        grid-column: 1 / 6;
        padding-left: 190px;
    }
}
}