// media queries mixins

$breakpoints-up: (
  "medium": "640px",
  "large": "1024px",
  "xlarge": "1400px",
);

@mixin breakpoint-up($break) {
  @media screen and (min-width: map-get($breakpoints-up, $break)){
    @content;
  };
}


@mixin grid(){
    display: grid;
    grid-template-columns: 
    minmax(1.5rem, 1fr)
    repeat(8, minmax(1rem, 7.8125rem))
    minmax(1.5rem, 1fr);
    width: 100%;
}

