//colors

$primary1: 	rgb(255, 255, 255);
$primary2: rgba(255, 147, 147, 1);
$primary3: rgba(249, 79, 79, 1);


$secondary1: rgba(67, 67, 86, 1);
$secondary2: rgb(25, 25, 33);
$secondary3: rgb(0, 0, 0);
